.card-type-one {
    display: flex;

    border-radius: 8px;
    background-color: var(--blue-common-background-color);
}

.card-info-background-image {
    display: flex;
    position: relative;
}

.card-info-background-image:after {
    position: absolute;
    content: "Flash Offer";
    color: var(--white-text-color);
    padding: 8px 11px;
    top: 26px;
    width: 95px;
    height: 30px;
    background-color: var(--red-button-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.card-info-content {
    display: flex;
    flex-direction: column;

    padding: 44px 28px 21px 29px;
    color: var(--white-text-color);
}

.card-info-title {
    margin-top: 9px;

    font-size: 1.8rem;
    line-height: 2.3rem;
}

.card-info-content__text {
    max-width: 300px;
    margin-top: 27px;

    font-size: 1.4rem;
    line-height: 2.2rem;
}

.card-info-travel-info {
    display: flex;
    flex-direction: column;

    margin-top: 34px;
}

.card-info-travel-info__info-item, .card-info-two-travel-info__info-item {
    display: flex;
    align-items: center;
}

.card-info-travel-info__info-item:not(:last-child), .card-info-two-travel-info__info-item:not(:last-child) {
    margin-bottom: 11px;
}

.card-info-travel-info__info-item .info-item-icon, .card-info-two-travel-info__info-item .info-item-icon  {
    margin-right: 17px;
    font-size: 1.5rem;
}

.card-info-book-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 37px;
}

.price-info {
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 1.4rem;
    line-height: 1.8rem;

    text-decoration: line-through;
}

.current-price {
    font-size: 2.4rem;
    line-height: 3rem;
}

.button-control-container {
    width: 120px;
    height: 40px;
}

.card-type-two {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    background-color: var(--blue-common-background-color);
}

/* Type two */

.card-info-two-title {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.card-info-two-background-image {
    display: flex;
    position: relative;
}

.card-info-two-background-image:after {
    position: absolute;
    content: "Flash Offer";
    color: var(--white-text-color);
    padding: 4px 9px;
    top: 26px;
    width: 60px;
    height: 18px;
    background-color: var(--red-button-color);
    font-size: .8rem;
    line-height: 1rem;
}

.card-info-two-travel-info {
    margin-top: 24px;
}

.card-info-two-content {
    display: flex;
    flex-direction: column;

    padding: 32px 30px 21px 25px;
    color: var(--white-text-color);
}

.card-info-two-book-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 24px;
}

@media only screen and (max-width: 800px) {
    .card-type-one {
        display: flex;
        flex-direction: column;
    }

    .image-blue-haven {
        width: 100%;
    }

    .other-activities-wrapper {
        padding: 20px 30px;
    }

    .other-activities__title {
        justify-content: center;
    }

    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1100px) {
    .other-activities-wrapper {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 370px) {
    .card-info-two-book-block, .card-info-book-block {
        flex-direction: column;
        align-items: end;
    }

    .button-control-container {
        margin-top: 15px;
    }
}