.input-control {
    border: none;
    border-radius: 6px;
    background-color: var(--white-common-background-color);
    font-size: 1.2rem;
    line-height: 1.5rem;

    width: 100%;
}

.input-control--main-section {
    padding: 1.2rem 2.3rem;
}

.input-control--newsletter {
    padding: 19px 33px;
    border-radius: 6px 0 0 6px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-width: 320px;
}

.input-control--newsletter::placeholder, .input-control--footer-section::placeholder {
    color: var(--gray-text-color-light-2);
}

.input-control--footer-section {
    padding: 1.8rem 2.3rem;
}