.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    min-width: 300px;
    background-color: var(--blue-common-background-color);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 8px;
    color: var(--white-text-color);
    z-index: 2;

    visibility: hidden;
}

.show-modal {
    visibility: visible;
}

.modal__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

.modal__image img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.modal__image {
    display: flex;
    max-height: 350px;
}

.modal__text-content {
    padding: 40px;
    font-size: 1.5rem;
}

.modal__close-button {
    position: absolute;
    top: -8px;
    right: -9px;
}

.modal__close-button button {
    border-radius: 50%;
    padding: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}