.textarea-control {
    padding: 18px 23px;

    border-radius: 4px;
    width: 100%;
    min-height: 125px;
    max-width: 500px;
}


.textarea-control::placeholder {
    color: var(--gray-text-color-light-2);
}