.footer {
    min-height: 46rem;
    /*background-image: url("../../img/footer-bg.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: #2A2A2A;
    padding: 60px 59px;
}

.resources-control-wrapper {
    display: flex;
    color: var(--white-color);
    justify-content: space-between;
    margin: -20px;
}

.resources-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    margin: -20px;
}

.resources-content__page-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
}

.page-items__item {
    cursor: pointer;
}

.page-items__item:hover {
    color: var(--gray-color);
    transition: .3s;
}

.social-items-wrapper {
    display: flex;
    justify-content: flex-end;
}

.social-item:not(:last-child) {
    margin-right: 32px;
}

.social-item {
    cursor: pointer;
}

.resources-content-privacy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.resources-content__title {
    text-transform: uppercase;
    font-size: 4.5rem;
}

.page-items__item-title {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-items__item {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-family: var(--font-pavanam-family);
    color: var(--white-color);
    text-decoration: none;
    padding: 5px 0;
}

.privacy-info-wrapper {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.privacy-info-title {
    cursor: pointer;
}

.privacy-info-wrapper, .copy-right-info-wrapper {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.copy-right-info-wrapper {
    font-family: var(--font-pavanam-family);
}

.thanks-container {
    display: flex;
    justify-content: center;
    padding: 48px;
    margin-top: 60px;
}

.thanks-block {
    background-color: var(--white-color);
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.9rem;
    padding: 9px 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 910px) {

    .footer .resources-control-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .resources-content-privacy {
        align-items: center;
    }

    .footer .thanks-container {
        padding: 0;
    }
}

@media only screen and (max-width: 842px) {
    .thanks-block {
        display: none;
    }
}