.header {
    height: 78.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/header-bg.svg");
    background-position: center center;
}

.logo {
    cursor: pointer;
}

.about-wrapper {
    max-width: 99.4rem;
    margin: 9.4rem auto 0;
    background: linear-gradient(180deg, rgba(50, 42, 39, .2) 0%, rgba(45, 40, 40, 0.85) 50%);
    border: 1px solid var(--gray-color);
}

.about-content {
    padding: 7.6rem 6.5rem 7.9rem;
}

.about-content-wrapper {
    max-width: 43.2rem;
}

.about-content__title {
    font-size: 6.4rem;
    line-height: 8.9rem;
}

.about-content__subtitle {
    font-size: 2rem;
    line-height: 2.8rem;
}

.about-content__description {
    color: var(--white-color);
    margin-top: 3rem;
    font-family: var(--font-noto-sans-family);
    font-size: 1.6rem;
    line-height: 2.7rem;
    font-weight: 400;
}

.about-content__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.35rem 0;
    border-top: 1px solid var(--gray-color);
}