:root {
    --white-color: #fff;
    --black-color: #000;
    --red-button-color: #ff1640;
    --green-button-color: #00ff7f;
    --gray-color: rgba(255, 255, 255, 0.2);

    --font-pavanam-family: "Pavanam", serif;
    --font-paytone-family: "Paytone One", serif;
    --font-noto-sans-family: "Noto Sans", sans-serif;
}