.footer-wrapper {
    background-color: var(--blue-common-background-color);

    padding: 108px 0 46px;
}

.footer__links-container {
    display: flex;
    justify-content: space-between;

    margin: -25px;
}

.main-section__logo--footer {
    display: flex;
    flex-direction: column;
    color: var(--white-common-background-color);

    font-size: 6.4rem;
    line-height: 6.4rem;

}

.links-container__links, .links-container__logo-container {
    padding: 25px;
}

.links-container__links__title {
    color: var(--white-common-background-color);
    font-size: 1.8rem;
    line-height: 2.3rem;

    text-transform: uppercase;
}

.links-container__links__list {
    margin-top: 20px;
}

.links-container__links__list__ul-container {
    list-style: none;

    font-size: 1.4rem;
    line-height: 2.2rem;

    color: var(--gray-text-color-light-2);
}

.links-container__links__list__li-item:not(:last-child) {
    margin-bottom: 3px;
}

.links-container__links__list__li-item a {
    text-decoration: none;
    color: inherit;
}

.links-container__links__list__li-item a:hover {
    text-decoration: underline;
}

.links-container__links__list__li-item:hover {
    color: var(--red-text-color);
    transition: .3s;
    cursor: pointer;
}

.links-container__links__list__social-network-container {
    display: flex;
    align-items: center;

    margin-top: 25px;

    font-size: 2rem;
}

.social-network-container__title {
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: var(--white-text-color);

    margin-right: 43px;
    font-weight: 600;
}

.social-network-container--social-item {
    color: var(--gray-text-color-light-2);
}

.social-network-container--social-item:hover {
    cursor: pointer;
    color: var(--gray-text-color-light-3);
}

.social-network-container--social-link:not(:last-child) {
    margin-right: 12px;
}

.footer__info-form-container {
    display: flex;
    justify-content: space-between;
}

.contact-details__title {
    display: flex;
    flex-direction: column;
}

.contact-details__title__text {
    font-size: 1.8rem;
    color: var(--white-text-color);
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-container-info-form-wrapper {
    margin-top: 108px;
}

.contact-details__sub-title__text {
    font-size: 1.4rem;
    line-height: 2.2rem;

    color: var(--gray-text-color-light-2);

    margin-bottom: 15px;
}

.contact-details__content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.content__content-item {
    display: flex;
    align-items: flex-start;

    font-size: 1.4rem;
    line-height: 2.2rem;

    max-width: 490px;

    color: var(--gray-text-color-light-2);
}

.content-item__phone-list {
    display: flex;
    flex-direction: column;
}

.content-item__phone-list span a {
    text-decoration: none;
    color: inherit;
}

.content-item__phone-list span a:hover {
    text-decoration: underline;
}

.content-item__phone-list span {
   font-style: normal;
}

.content__content-item:not(:last-child) {
    margin-bottom: 15px;
}

.content__content-item .material-icons {
    font-size: 1.7rem;
    color: var(--gray-text-color-light-2);

    margin-right: 21px;
}

.form-send-message-control {
    display: flex;
    flex-direction: column;
}

.form-send-message-control__title__text {
    color: var(--white-text-color);
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.control-inputs-container {
    margin-top: 34px;

    display: flex;
}

.inputs-container {
    margin: -15px;

    display: flex;
    flex-grow: 1;
}

.input-wrapper {
    padding: 15px;

    display: flex;
    flex-grow: 1;

    min-width: 255px;
}

.message-area-control-container {
    margin-top: 15px;
}

.button-control-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.button-control-container__remark {
   color: var(--gray-text-color-light-2);
}

.info-form-container__policy-pay-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin-top: 102px;
}

.policy-container__policy-item {
    text-decoration: none;
    color: var(--gray-text-color-light-2);
}

.policy-container span:not(:last-child) {
    margin-right: 15px;
}

.policy-container__policy-item:hover {
    color: var(--red-text-color);
    transition: .4s;
}

.pay-methods-container {
    position: absolute;
    right: 0;
    top: -5px;
}

.info-form-container__contact-details, .info-form-container__form-send-message {
    padding: 10px;
}

@media only screen and (max-width: 1110px) {

    .footer-container-links-wrapper {
         display: flex;
         justify-content: center;
    }

    .footer__links-container, .footer__info-form-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
     .pay-methods-container {
         display: flex;
         position: static;
     }

    .info-form-container__policy-pay-container {
        flex-direction: column;
    }

    .info-form-container__form-send-message {
        display: flex;
        flex-grow: 1;
        max-width: 500px;
        justify-content: center;
    }

    .footer-container-info-form-wrapper {
        margin-top: 30px;
    }

    .footer-wrapper {
        padding: 20px 0;
    }

    .info-form-container__policy-pay-container {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 570px) {
    .inputs-container {
        display: flex;
        flex-direction: column;
    }

    .form-send-message-control {
        width: 100%;
    }

    .links-container__links--categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-container__links__list__ul-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-container__links--additional-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-control-container-footer {
        flex-wrap: wrap;
    }

    .button-control-container__remark {
        padding: 5px;
    }

    .info-form-container__policy-pay-container {
        margin-top: 30px
    }
}