.chips-wrapper, .content-hotel-wrapper, .navigation-hotel-wrapper,
.package-info-hotel-wrapper, .other-packages-wrapper, .people-reviews-wrapper, .other-activities-wrapper {
    background-color: var(--white-common-background-color);
}

/*----- CHIPS INFO -----*/

.chips-wrapper {
    padding: 15px;
}

.main__chips-info {
    font-size: 1rem;
}

.chips-item {
    text-decoration: none;
    color: var(--black-text-color);
}

.chips-item:hover {
    text-decoration: underline;
}

    /*----- HOTEL INFO -----*/

/* HOTEL INFO TITLE */
.hotel-title-container {
    padding: 17px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hotel-title__info-block {
    display: flex;
    flex-direction: column;
}

.info-block__title {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.info-block__title .title--flash-offer {
    max-height: 20px;
    margin-left: 14px;
}

.title__text {
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3rem;
}

.ratings-block__title {
    font-size: .8rem;
}

.mark__average-mark {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.mark__max-mark {
    font-size: 1rem;
}

/* HOTEL SLIDER/PRICE/MAP INFO */

.hotel-common-info-container {
    display: flex;
    justify-content: space-between;

    margin: -15px;
}

.hotel-slider-info {
    padding: 15px;
}

.hotel-slider-info__slider-container {
    display: flex;
    flex-basis: 730px;

    border-radius: 8px;
}

.hotel-map-price-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 350px;
    padding: 15px;
}

.hotel-map-price-info__price-info, .hotel-map-price-info__map-info {
    width: 100%;
}

.price-info-container {
    display: flex;
    justify-content: space-between;
}

.price-info__price-count, .price-info__guests-count, .guests-count__text-info {
    display: flex;
    flex-direction: column;
}

.hotel-map-price-info__price-info {
    padding: 29px 26px;
    background-color: var(--blue-common-background-color);
    border-radius: 8px;
    color: var(--white-text-color);
}

.hotel-map-price-info__map-info {
    display: flex;
}

.price-count__title_price {
    font-size: 1rem;
    line-height: 1.4rem;
}

.price-count__clarify-1 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.price-count__text_price {
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: 800;
}

.price-count__clarify-2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 600;

    margin-top: 9px;
}

.price-info__guests-count {
    justify-content: space-between;
    align-content: center;
}

.text-info__info-block {
    display: flex;
    align-items: center;
}

span.info-block__icon {
    font-size: 18px;
}

.price-info__button-container {
    margin-top: 17px;
}

.text-info__info-block span {
    margin-right: 5px;
}

.main__hotel-navigation {
   padding: 65px 0;
}

/* PACKAGE SUMMERY */

.package-summery {
    display: flex;
    flex-direction: column;
}

.package-summery__container-info {
    margin-top: 29px;
}

.package-card-wrapper {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    margin: -16px;
}

.package-card-container {
    padding: 16px;

    flex-grow: 1;
}

.main-container__divider-wrapper {
    padding: 44px 0;
}

.divider {
    width: 100%;
    height: 2px;
    background-image: url("../../img/main/line.svg");
    background-repeat: space;
    background-position: initial;
}

/* OTHER PACKAGES */

.other-activities-wrapper {
    padding: 60px 90px;
}

.other-packages {
    padding: 65px 0;
}

.other-packages__title {
    display: flex;
    justify-content: center;

    font-size: 3.6rem;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.title-text--other-packages {
    margin-bottom: 65px;
    font-size: 3.6rem;
    line-height: 4.5rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: space-between;

    margin: -15px;
}

.card-container--second {
    margin-top: 15px;
}

.card-type-wrapper{
    display: flex;

    padding: 15px;
}

/* PEOPLE REVIEW */
.people-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-reviews__title {
    margin-top: 40px;
}

.title__title-text {
    font-size: 3.6rem;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.slider-review {
    display: flex;
    justify-content: center;
}

.slider-review-container {
    position: relative;
    max-width: 731px;
    margin: 115px 0 70px;
    padding: 54px 95px 30px 95px;
    background-color: var(--white-color);
}

.logo-container {
    display: flex;
    justify-content: center;

    position: relative;
}

.logo-container__logo-image {
    position: absolute;
    top: -95px;
}

.logo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-info__name {
    line-height: 1.5rem;
    color: var(--red-button-color);
    font-weight: 400;
}

.logo-info__added-time {
    margin-top: 10px;
}

.slider-review__content {
    margin-top: 33px;
    max-width: 537px;

    line-height: 1.9rem;
}

.slider-review-container:before {
    position: absolute;
    content: "<";
    top: 50%;
    left: -20%;

    color: var(--gray-text-color-light-2);
    font-size: 2rem;

    cursor: pointer;
}

.slider-review-container:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: -20%;

    color: var(--gray-text-color-light-2);
    font-size: 2rem;
}

.slider-review-container:hover:after, .slider-review-container:hover:before{
    color: var(--red-button-color);
    cursor: pointer;
}

/* Subscribe Block */

.subscribe-wrapper {
    background-image: url("../../img/main/newsletter-bg.svg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 260px;
    background-size: cover;

    display: flex;
    align-items: center;
    position: relative;
}

.subscribe-wrapper:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--blue-common-background-color);
    opacity: 0.8;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__text {
    display: flex;
    flex-direction: column;

    color: var(--white-color);

    position: absolute;
    z-index: 1;
    left: 20%;
}

.subscribe__control-input {
    position: absolute;
    z-index: 1;
    right: 23%;
}

.text-item {
    margin-right: 151px;
}

.text-item--subscribe {
    font-size: 2.4rem;
    line-height: 3rem;
}

.text-item--newsletter {
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: var(--white-common-background-color);
}

.search-control__item {
    width: 455px;
}


/* Other Activities */
.other-activities__title {
    display: flex;
}

.title__text--other-activities {
    font-size: 2.4rem;
    line-height: 3rem;
}

.cards-container {
    display: flex;
    margin: -15px;
}

.card-activities-wrapper {
    display: flex;
    padding: 15px;
}

.cards-wrapper {
    margin: 60px 0 0;
}

