.button-control {
  border: 2px solid #FF1640;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.button-control--request-access {
  height: 3.6rem;
  font-family: "Pavanam", serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  padding: .0rem 2.2rem;
}