/* Common styles */
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__list-wrapper {
    font-family: var(--font-paytone-family);
}

.list-wrapper__list {
    display: flex;
    list-style: none;
}

.list__list-item:not(:first-child) {
    cursor: pointer;
}

.list-item__link {
    text-decoration: none;
}

/* Modificators */
.navigation--header {
    padding: 5.1rem 12.6rem 0;
}

.navigation__list-wrapper--header {
    color: var(--white-color);
}

.list-wrapper__list--header {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.list__list-item--header:not(:first-child) {
    margin-left: 3rem;
}

.navigation__list-wrapper--header {
    margin-left: 7rem;
}

.list-item__link--header {
    color: var(--white-color);
}

.list-item__link--header:hover {
    color: var(--gray-color);
    transition: .3s;
}

.inputs-control-container {
    margin-top: 2.5rem;
}